<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text ="#{head.title}">fzx</title>
    <link href="../static/css/public.css" th:href="@{css/public.css}" rel="stylesheet">
    <link href="../static/css/login.css" th:href="@{css/login.css}" rel="stylesheet">
</head>

<body>
    <div id="body">
        <div id="loginForm">
            <form method="POST" class="form" action="javascript: void(0);">
                <label id="label_adminName" for="adminName">管理员登陆</label>
                <span id="message"></span>
                <input id="adminName" type="text" placeholder="用户名" />
                <input id="password" type="password" placeholder="密码" />
                <div id="box_verificationCode">
                    <input id="verificationCode" type="number" placeholder="验证码" />
                    <img id="img_verificationCode" src="/verificationCode" />
                </div>
                <input id="submit" type="button" value="登陆" />
            </form>
        </div>
    </div>

    <script src="../static/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript">
        $().ready(function () {
            $(document.body).on("click", "#img_verificationCode", function () {
                $(this).attr("src", $(this).attr("src").split('?')[0] + '?date=' + new Date().getTime());
            });

            $(document.body).on("click", "#submit", function () {
                if(!loginVerify()) {
                    return;
                }
            });
        });

        /**
        * 登陆验证
        */
        function loginVerify() {
            if($("#adminName").val() == "") {
                $("#message").html("*用户名不能为空");
                return false;
            }
            if($("#password").val() == "") {
                $("#message").html("*密码不能为空");
                return false;
            }
            if($("#verificationCode").val() == "") {
                $("#message").html("*验证不能为空");
                return false;
            }
            $("#message").html("");
            return true;
        }
    </script>
</body>

</html>